
<tr>
    <td>ID</td>
    <td>Name</td>
    <td>Gender</td>
    <td>Phone</td>
    <td>Email</td>
    <td>
        <a href="/update"class="btn border-shadow update"><span class="text-gradient"><i class="far fa-edit"></i></span></a>
    </td>
    <td>
        <a href=""class="btn border-shadow delete"><span class="text-gradient"><i class="fas fa-trash"></i></span></a>   
    </td>
</tr>
