@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  margin: auto;
}
.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
nav {
  background-color: #005f99;
  padding: 1rem 8%;
}
#site-main {
  margin-top: 6em;
  font-family: 'Barlow', sans-serif;
}
