@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
:root {
  --border: #dee2e6;
}
a {
  text-decoration: none;
}
#site-main .container form {
  margin: 2rem 0;
}
.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
nav {
  background-color: #005f99;
  padding: 1rem 0;
}
#site-main {
  margin-top: 6em;
  font-family: 'Barlow', sans-serif;
}
table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid grey;
}
.table .thead-dark th {
  color: #fff;
  background-color: #47597e;
  border-color: #32383e;
}
.text-gradient {
  -webkit-text-fill-color: purple;
}
/*make table responsive*/
@media only screen and (max-width: 700px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}
/*style add_user and update_user page*/
.container {
  max-width: 1024px;
  margin: auto;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.inline {
  display: inline-block;
}
.form-title {
  margin-top: 2em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type='text'],
#add_user .form-group input[type='text'] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1em 2em;
}
/*style button*/
#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 0.9em 1em;
  background-color: #318fb5;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0.5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: #47597e;
  color: var(--border);
}
.Footer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 15%;
}
